@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  &__box {
    width: 80px;
    height: 80px;
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    background: linear-gradient(135deg, #d9a7c7 0%, #fffcdc 100%);
    background: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    background: linear-gradient(135deg, #74ebd5 0%, #acb6e5 100%);

    border-radius: 8px;
  }
}

.inner {
  margin: 0 auto;
  max-width: 84vw;
}

.section {
  height: 100vh;
  background: #121212;
}

.section-title {
  position: relative;
  color: var.$color-white;
  & {
    @include mix.font-style(7rem, 700, -0.02em);
  }
  &::before {
    content: "";
    position: absolute;
    top: -2rem;
    left: 0;
    width: 8rem;
    height: 2px;
    background-color: #077ff6;
  }
}

.section-sub {
  position: relative;
  margin-top: 2rem;
  color: rgba(255, 255, 255, 0.8);
  & {
    @include mix.font-style(2rem, 400, -0.02em);
  }
}

.divider {
  display: flex;
  justify-content: space-between;
}

// header
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  &__inner {
    display: flex;
    align-items: center;
    height: 10rem;
    padding: 0 3vw;
  }
  &__logo {
    width: 14rem;
  }
  &__logo-link {
    display: block;
    width: 100%;
  }
}
