/* fonts */
//Pretendard

$fontSrc: "../../font";

//Pretendard
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url(#{$fontSrc}/Pretendard-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SenmiBold"),
    url(#{$fontSrc}/Pretendard-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url(#{$fontSrc}/Pretendard-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url(#{$fontSrc}/Pretendard-Regular.woff2) format("woff2");
}

//Poppins
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-display: swap;
  src: local("Poppins Bold"),
    url(#{$fontSrc}/poppins-bold.woff2) format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-display: swap;
  src: local("Poppins SenmiBold"),
    url(#{$fontSrc}/poppins-semibold.woff2) format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-display: swap;
  src: local("Poppins Medium"),
    url(#{$fontSrc}/poppins-medium.woff2) format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Regular"),
    url(#{$fontSrc}/poppins-regular.woff2) format("woff2");
}
