@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

$visual: visual;

.main {
}

.#{$visual} {
  position: relative;
  height: 300vh;
  background-color: var.$color-black;
  &__wrap {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var.$color-black;
    overflow: hidden;
  }
  &__circle-box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(100%, 30rem);
    height: min(100%, 30rem);
    border-radius: 50%;
    background: linear-gradient(#0988ff, #005bd2);
  }
  &__text {
    color: var.$color-white;
    z-index: 1;
    & {
      @include mix.font-style(7rem, 700, -0.02em);
    }
    &--01,
    &--02 {
      position: absolute;
    }
  }
  &__gate {
    position: relative;
    background-color: transparent;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    z-index: 2;
  }
  &__gate-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    background-color: var.$color-black;
    &--right {
      justify-content: flex-start;
      padding-left: 3rem;
    }
  }
  &__gate--line {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px;
    background: linear-gradient(#0988ff, #005bd2);
    opacity: 0.1;
    will-change: transform;
  }
}
